*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg_light: #F4F9FF;
    --bg_primary: #9792E4;
    --bg_secondary: #0084FD;
    --bg_secondary_soft: #B5DDFF;
    --bg_dark: #333333;
    --bg_darker: #000000;
    --light_gray:#5A6E7F;
    --bg_yellow: #FDC15F;
}
body{
    font-family: 'PT Sans', sans-serif;
}
/*utilities*/
section{
    margin: 3rem 0;
    padding: 3rem 0;
}
a{
    text-decoration:none ;
}

.container{
    width: 70%;
    margin: 0 auto;
}
.btn{
    border-radius: 40px;
    padding: 0.5rem 1rem;
}
.btn_light{
    color: var(--bg_darker);
    background-color: var(--bg_light);
}
.btn_secondary{
    background-color: var(--bg_secondary);
    color: var(--bg_light);
}

.d-flex{
    display: flex;
    justify-content:space-between ;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
}

[class^="col-"]{
    padding: 0.5rem;
}
.col-1{
    width: calc(100% / 12 * 1);
}
.col-2{
    width: calc(100% / 12 * 2);
}
.col-3{
    width: calc(100% / 12 * 3);
}
.col-4{
    width: calc(100% / 12 * 4);
}
.col-5{
    width: calc(100% / 12 * 5);
}
.col-6{
    width: 50%;
}
.col-7{
    width: calc(100% / 12 * 7);
}
.col-8{
    width: calc(100% / 12 * 8);
}
.col-9{
    width: calc(100% / 12 * 9);
}
.col-10{
    width: calc(100% / 12 * 10);
}
.col-11{
    width: calc(100% / 12 * 11);
}
.col-12{
    width: 100%;
}

/*debug*/

.debug .partners .heading, .debug .partners .partner{
    height: 200px;
    background-color: gainsboro;
    border: 1px solid black;
}
.debug .partner .avatar{
    width: 200px;
    background-color: aqua;
    
}
.debug .call_to_action .container{
    height: 300px;
    background-color:aquamarine;
}
.debug footer {
    height: 200px;
}
/*header*/

header{
    background-color: var(--bg_secondary);
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}
header .menu{
    display: none;
}
header .mobile_menu{
    color: var(--bg_light);
    font-size: 20px;
}
header .menu ul{
    list-style: none;
}
header .menu li{
    display: inline-block;
    padding-left: 1rem;
}
.menu li .menu_color{
    color: var(--bg_light);
}
.menu .btn_light a{
    color: var(--bg_darker);
}
/*main*/

/*demo*/
.card{
    background-color: var(--bg_secondary_soft);
    border-radius: 20px;
    padding: 1rem 1rem 0 1rem;
}

.demo .row .text{
   width: 60%; 
}
.demo .row .text h4{
    color: var(--bg_secondary);
    margin-bottom: 1.5rem;
}
.demo .card .text p{
    padding-bottom: 2rem;
    font-weight: bold;
    color: var(--light_gray);

}
.demo .row .text .btn_secondary{
    padding: 0.5rem 2.5rem;
}
.demo .row .image{
    width: 40%;
}
.demo .row .image img{
    position: relative;
    top: 4px;
    max-width: 100%;
    
}
.card .icons .icon{
    text-align: center;
    font-size: 4rem;
    color: var(--bg_secondary);
    padding-bottom: 0.5rem;
}
.card .icons .info{
    text-align: center;
    font-size: 15px;
    color: var(--bg_secondary);
    font-weight: bold;
    padding-bottom: 1.5rem;

}
.demo .card .icons_text p{
    text-align: center;
    padding-bottom: 0.9rem;
    font-weight: bold;
    color: var(--light_gray);
}

/*planning*/
.planning{
    background-color: var(--bg_primary)
}
.planning .cont{
    margin: auto 0 auto auto;
    width: 80%;
}
.planning .cont img{
   max-width: 100%; 
   padding: 2rem;
}


.planning .text_planning{
    color: var(--bg_light);
    
}
.planning .text_planning h3{
    padding: 5rem 0 2rem 0;
}
.planning .mini_container{
    width: 80%;
    margin: 5rem 0 auto auto;
    background-color: var(--bg_light);
    border-radius: 25px;
    text-align: center;
}
.planning .img_planning2 img{
    max-width: 100%;
    padding: 2rem 3rem;
}
.mini_container .text_planning2 h3{
    padding-bottom: 2rem;
}
.mini_container .text_planning2 p{
    font-style: oblique;
}
.mini_container .circl_arrow{
    margin: auto;
    width: 15%;
    padding: 2rem 0;
    
}
.mini_container .circl_arrow i{
    background-color: var(--bg_primary);
    border-radius: 50%;
    color: var(--bg_darker);
    padding: 1rem;
}
/*partners*/
.partner{
    display: flex;
}

/*benefits*/
.benefits{
    background-color: var(--bg_primary);
}

/*about*/

/*call_to_action*/
.call_to_action{
    background-color: var(--bg_primary);
}

/*footer*/
footer{
    background-color: var(--bg_dark);
    margin-top:-3rem ;
}

/*Responsive*/
@media screen and (min-width: 768px) {
    .col_md_4{
        width: calc(100% / 12 * 4);
    }
    .col_md_6{
        width: 50%;
    }
    .col_md_8{
        width: calc(100% / 12 * 8);
    }
}
@media screen and (min-width: 1200px) {
    .col_lg_4{
        width: calc(100% / 12 * 4);
    }
    .col_lg_6{
        width: 50% ;
    }
    header .menu{
        display: inline-block;
    }
    header .mobile_menu{
        display: none;
        
    }
}