*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg_light: #F4F9FF;
    --bg_primary: #9792E4;
    --bg_secondary: #0084FD;
    --bg_secondary_soft: #B5DDFF;
    --bg_dark: #333333;
    --bg_darker: #000000;
    --bg_yellow: #FDC15F;
}
/*utilities*/
section{
    margin: 3rem 0;
    padding: 3rem 0;
}
.container{
    width: 70%;
    margin: 0 auto;
}

.d-flex{
    display: flex;
    justify-content:space-between ;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2rem;

}
.bg_secondary_soft{
    background-color: var(--bg_secondary_soft);
    border-radius: 20px;
}
[class^="col-"]{
    padding: 2rem;
    margin-bottom: 1.5rem;
}
.col-1{
    width: calc(100% / 12 * 1);
}
.col-2{
    width: calc(100% / 12 * 2);
}
.col-3{
    width: calc(100% / 12 * 3);
}
.col-4{
    width: calc(100% / 12 * 4);
}
.col-5{
    width: calc(100% / 12 * 5);
}
.col-6{
    width: 50%;
}
.col-7{
    width: calc(100% / 12 * 7);
}
.col-8{
    width: calc(100% / 12 * 8);
}
.col-9{
    width: calc(100% / 12 * 9);
}
.col-10{
    width: calc(100% / 12 * 10);
}
.col-11{
    width: calc(100% / 12 * 11);
}
.col-12{
    width: 100%;
}
.margin_between{
    margin-left: 1rem;
}
/*debug*/

.debug .partners .heading, .debug .partners .partner{
    height: 200px;
    background-color: gainsboro;
    border: 1px solid black;
}
.debug .partner .avatar{
    width: 200px;
    background-color: aqua;
    
}
.debug .call_to_action .container{
    height: 300px;
    background-color:aquamarine;
}
.debug footer {
    height: 200px;
}
/*header*/

header{
    background-color: var(--bg_secondary);
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
header .menu ul{
    list-style: none;
}
header .menu li{
    display: inline-block;
    padding-left: 1rem;
}
header .menu li a{
    text-decoration: none;
    font-size: 18px;
    color: var(--bg_light);
}
.menu .btn_light{
    color: var(--bg_darker);
    background-color: var(--bg_light);
    border-radius: 40px;
    padding: 0.5rem;
    margin-left: 1rem;
    font-size: 18px;
    cursor: pointer;

}
/*main*/

/*demo*/
.demo .row .text{
    width: 50%;
    
}
.demo .row .text h4{
    color: var(--bg_secondary);
    margin-bottom: 1.5rem;
}
.demo .row .text .btn_secondary{
    background-color: var(--bg_secondary);
    width: 50%;
    text-align: center;
    border-radius: 40px;
    padding: 5px 20px;
    margin: 1.5rem 0;
}
.demo .row .text .btn_secondary a{
    color: var(--bg_light);
    text-decoration: none;
}

.demo .row .image{
    width: 40%;
}
.demo .row .image img{
    width: 80%;
    position: relative;
    top: 36px;
}
.icons .icon


/*planning*/
.planning{
    background-color: var(--bg_primary)
}


/*partners*/
.partner{
    display: flex;
}

/*benefits*/
.benefits{
    background-color: var(--bg_primary);
}

/*about*/

/*call_to_action*/
.call_to_action{
    background-color: var(--bg_primary);
}

/*footer*/
footer{
    background-color: var(--bg_dark);
    margin-top:-3rem ;
}

/*Responsive*/
@media screen and (min-width: 768px) {
    .col_md_4{
        width: calc(100% / 12 * 4);
    }
    .col_md_6{
        width: 50%;
    }
    .col_md_8{
        width: calc(100% / 12 * 8);
    }
}
@media screen and (min-width: 1200px) {
    .col_lg_4{
        width: calc(100% / 12 * 4);
    }
    .col_lg_6{
        width: 50% ;
    }
}